version: '3.8'

services:
  app:
    build: .
    ports:
      - "8080:8080"
    environment:
      - DB_HOST=host.docker.internal
      - DB_PORT=5432
      - DB_USER=postgres
      - DB_PASSWORD=11qqaazz11QQAAZZ
      - DB_NAME=ListOfBooks
      - SERVER_PORT=8080
    extra_hosts:
      - "host.docker.internal:host-gateway"
    depends_on:
      - postgresql-check
    restart: unless-stopped

  # Сервис для проверки доступности PostgreSQL
  postgresql-check:
    image: busybox
    command: >
      sh -c "
        echo 'Waiting for PostgreSQL...';
        until nc -z host.docker.internal 5432; do
          sleep 1;
        done;
        echo 'PostgreSQL is ready!';
      "